body {
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
#news{
    background-color:rgba(255, 235, 33, 0.99);
    flex: 0 0 250px;
}
#flex-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#header {
    background-color: rgba(85, 41, 255, 0.99);
    flex: 0 0 200px;
}
#flex{
    display: flex;
    flex-direction: row;
    background-color: rgba(169, 250, 255, 0.99);
    flex-grow: 1;
}
#content {
    flex-grow: 1;
}
#ad {
    background-color: rgba(255, 41, 22, 0.99);
    flex: 0 0 200px;
}
#footer {
    background-color: rgba(113, 255, 106, 0.99);
    flex: 0 0 200px;
}
